In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('case_covid_1.csv', index_col='iso_code')
df
# https://ourworldindata.org/covid-cases

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857,5374.0,0.0,1.714,15331.194,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,5374.0,0.0,1.714,15345.904,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,5374.0,0.0,1.143,15345.904,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5379.0,5.0,1.714,15386.322,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,5381.0,2.0,1.143,15411.832,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [3]:
# df[df['continent'].str.contains('asia', case=False)]

In [4]:
df[df['continent'].isnull()]

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,NaN,NaN,0.0,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,NaN,NaN,0.0,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,NaN,NaN,0.0,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,NaN,NaN,0.0,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OWID_WRL,NaN,World,2022-02-13,411738105.0,1454191.0,2322687.714,5816328.0,5069.0,10684.000,52284.431,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-02-14,413526543.0,1788438.0,2258593.714,5826973.0,10645.0,10681.571,52511.536,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-02-15,415291868.0,1765325.0,2063782.714,5837539.0,10566.0,10294.571,52735.705,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-02-16,417730572.0,2438704.0,2062385.286,5850628.0,13089.0,10262.143,53045.383,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
OWID_WRL,NaN,World,2022-02-17,419693540.0,1962968.0,1947519.714,5863136.0,12508.0,10378.571,53294.650,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

In [5]:
dd = df['date'].str.split('-', expand=True)
dd.columns = ['year', 'month', 'date']
dd

          year month date
iso_code
AFG       2020    02   24
AFG       2020    02   25
AFG       2020    02   26
AFG       2020    02   27
AFG       2020    02   28
...        ...   ...  ...
ZWE       2022    02   13
ZWE       2022    02   14
ZWE       2022    02   15
ZWE       2022    02   16
ZWE       2022    02   17

[162607 rows x 3 columns]

In [6]:
dd1 = dd[dd.columns[0:2]]
dd1.sample(5)

          year month
iso_code
CAN       2022    01
JAM       2021    08
LCA       2021    05
TJK       2021    03
BGD       2020    03

In [7]:
df['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [8]:
# df[df.iso_code.str.contains('OWID_wrl', case=False)]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162607 entries, AFG to ZWE
Data columns (total 66 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   152859 non-null  object
 1   location                                    162607 non-null  object
 2   date                                        162607 non-null  object
 3   total_cases                                 159642 non-null  float64
 4   new_cases                                   159616 non-null  float64
 5   new_cases_smoothed                          158465 non-null  float64
 6   total_deaths                                141946 non-null  float64
 7   new_deaths                                  142122 non-null  float64
 8   new_deaths_smoothed                         141992 non-null  float64
 9   total_cases_per_million                     158900 non-null  float64
 10  new_cases_per_million                       158874 non-null  float64
 11  new_cases_smoothed_per_million              157728 non-null  float64
 12  total_deaths_per_million                    141217 non-null  float64
 13  new_deaths_per_million                      141393 non-null  float64
 14  new_deaths_smoothed_per_million             141263 non-null  float64
 15  reproduction_rate                           122792 non-null  float64
 16  icu_patients                                22847 non-null   float64
 17  icu_patients_per_million                    22847 non-null   float64
 18  hosp_patients                               23588 non-null   float64
 19  hosp_patients_per_million                   23588 non-null   float64
 20  weekly_icu_admissions                       5220 non-null    float64
 21  weekly_icu_admissions_per_million           5220 non-null    float64
 22  weekly_hosp_admissions                      10589 non-null   float64
 23  weekly_hosp_admissions_per_million          10589 non-null   float64
 24  new_tests                                   65861 non-null   float64
 25  total_tests                                 67756 non-null   float64
 26  total_tests_per_thousand                    67756 non-null   float64
 27  new_tests_per_thousand                      65861 non-null   float64
 28  new_tests_smoothed                          82067 non-null   float64
 29  new_tests_smoothed_per_thousand             82067 non-null   float64
 30  positive_rate                               76814 non-null   float64
 31  tests_per_case                              76271 non-null   float64
 32  tests_units                                 84326 non-null   object
 33  total_vaccinations                          43516 non-null   float64
 34  people_vaccinated                           41411 non-null   float64
 35  people_fully_vaccinated                     38773 non-null   float64
 36  total_boosters                              16224 non-null   float64
 37  new_vaccinations                            36033 non-null   float64
 38  new_vaccinations_smoothed                   80941 non-null   float64
 39  total_vaccinations_per_hundred              43516 non-null   float64
 40  people_vaccinated_per_hundred               41411 non-null   float64
 41  people_fully_vaccinated_per_hundred         38773 non-null   float64
 42  total_boosters_per_hundred                  16224 non-null   float64
 43  new_vaccinations_smoothed_per_million       80941 non-null   float64
 44  new_people_vaccinated_smoothed              79656 non-null   float64
 45  new_people_vaccinated_smoothed_per_hundred  79656 non-null   float64
 46  stringency_index                            127282 non-null  float64
 47  population                                  161548 non-null  float64
 48  population_density                          144620 non-null  float64
 49  median_age                                  134761 non-null  float64
 50  aged_65_older                               133299 non-null  float64
 51  aged_70_older                               134038 non-null  float64
 52  gdp_per_capita                              135404 non-null  float64
 53  extreme_poverty                             89185 non-null   float64
 54  cardiovasc_death_rate                       133724 non-null  float64
 55  diabetes_prevalence                         140735 non-null  float64
 56  female_smokers                              103684 non-null  float64
 57  male_smokers                                102261 non-null  float64
 58  handwashing_facilities                      67022 non-null   float64
 59  hospital_beds_per_thousand                  120914 non-null  float64
 60  life_expectancy                             151784 non-null  float64
 61  human_development_index                     133199 non-null  float64
 62  excess_mortality_cumulative_absolute        5520 non-null    float64
 63  excess_mortality_cumulative                 5520 non-null    float64
 64  excess_mortality                            5532 non-null    float64
 65  excess_mortality_cumulative_per_million     5520 non-null    float64
dtypes: float64(62), object(4)
memory usage: 83.1+ MB

In [10]:
dp = df.columns[15:67]
df.drop(dp, axis=1, inplace=True)
df

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million
iso_code,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857,5374.0,0.0,1.714,15331.194,5.433,9.267,356.079,0.000,0.114
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,5374.0,0.0,1.714,15345.904,14.710,11.368,356.079,0.000,0.114
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,5374.0,0.0,1.143,15345.904,0.000,9.466,356.079,0.000,0.076
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5379.0,5.0,1.714,15386.322,40.418,13.943,356.410,0.331,0.114
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,5381.0,2.0,1.143,15411.832,25.510,14.747,356.542,0.133,0.076

In [11]:
dt = pd.concat([df, dd1], axis=True)
dt

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,year,month
iso_code,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857,5374.0,0.0,1.714,15331.194,5.433,9.267,356.079,0.000,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,5374.0,0.0,1.714,15345.904,14.710,11.368,356.079,0.000,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,5374.0,0.0,1.143,15345.904,0.000,9.466,356.079,0.000,0.076,2022,02
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5379.0,5.0,1.714,15386.322,40.418,13.943,356.410,0.331,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,5381.0,2.0,1.143,15411.832,25.510,14.747,356.542,0.133,0.076,2022,02

In [12]:
dt.dropna(subset=['continent'], inplace=True)
dt

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,year,month
iso_code,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,2020,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857,5374.0,0.0,1.714,15331.194,5.433,9.267,356.079,0.000,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,5374.0,0.0,1.714,15345.904,14.710,11.368,356.079,0.000,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,5374.0,0.0,1.143,15345.904,0.000,9.466,356.079,0.000,0.076,2022,02
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5379.0,5.0,1.714,15386.322,40.418,13.943,356.410,0.331,0.114,2022,02
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,5381.0,2.0,1.143,15411.832,25.510,14.747,356.542,0.133,0.076,2022,02

In [13]:
dg = dt[dt.columns[:6]]
dg

,continent,location,date,total_cases,new_cases,new_cases_smoothed
iso_code,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN
...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571

In [14]:
dh = dt[dt.columns[15:17]]
dh

          year month
iso_code
AFG       2020    02
AFG       2020    02
AFG       2020    02
AFG       2020    02
AFG       2020    02
...        ...   ...
ZWE       2022    02
ZWE       2022    02
ZWE       2022    02
ZWE       2022    02
ZWE       2022    02

[152859 rows x 2 columns]

In [15]:
dy = dt[dt.columns[7:9]]
dy

          new_deaths  new_deaths_smoothed
iso_code
AFG              NaN                  NaN
AFG              NaN                  NaN
AFG              NaN                  NaN
AFG              NaN                  NaN
AFG              NaN                  NaN
...              ...                  ...
ZWE              0.0                1.714
ZWE              0.0                1.714
ZWE              0.0                1.143
ZWE              5.0                1.714
ZWE              2.0                1.143

[152859 rows x 2 columns]

In [16]:
dn = pd.concat([dg,dy,dh],axis=True)
dn

,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,year,month
iso_code,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,2020,02
...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381.0,82.0,139.857,0.0,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,0.0,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,0.0,1.143,2022,02
ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5.0,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,2.0,1.143,2022,02

In [17]:
# dn['iso_code'].unique()

In [18]:
dn.loc['THA']

,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,year,month
iso_code,,,,,,,,,,
THA,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,NaN,2020,01
THA,Asia,Thailand,2020-01-05,NaN,NaN,NaN,NaN,NaN,2020,01
THA,Asia,Thailand,2020-01-06,NaN,NaN,NaN,NaN,NaN,2020,01
THA,Asia,Thailand,2020-01-07,NaN,NaN,NaN,NaN,NaN,2020,01
THA,Asia,Thailand,2020-01-08,NaN,NaN,NaN,NaN,NaN,2020,01
...,...,...,...,...,...,...,...,...,...,...
THA,Asia,Thailand,2022-02-13,2608227.0,14900.0,14393.714,26.0,22.714,2022,02
THA,Asia,Thailand,2022-02-14,2622600.0,14373.0,14961.571,27.0,24.143,2022,02
THA,Asia,Thailand,2022-02-15,2639062.0,16462.0,15430.143,27.0,24.571,2022,02
THA,Asia,Thailand,2022-02-16,2656411.0,17349.0,15791.143,22.0,24.857,2022,02
THA,Asia,Thailand,2022-02-17,2674477.0,18066.0,16194.571,27.0,25.429,2022,02

In [19]:
dn['total_cases'] = dn['total_cases'].fillna(0)
dn['new_cases'] = dn['new_cases'].fillna(0)
dn['new_deaths'] = dn['new_deaths'].fillna(0)

In [20]:
dn['total_cases'] = dn['total_cases'].astype(int)
dn['new_cases'] = dn['new_cases'].astype(int)
dn['new_deaths'] = dn['new_deaths'].astype(int)
dn

,continent,location,date,total_cases,new_cases,new_cases_smoothed,new_deaths,new_deaths_smoothed,year,month
iso_code,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5,5,NaN,0,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-25,5,0,NaN,0,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-26,5,0,NaN,0,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-27,5,0,NaN,0,NaN,2020,02
AFG,Asia,Afghanistan,2020-02-28,5,0,NaN,0,NaN,2020,02
...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381,82,139.857,0,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-14,231603,222,171.571,0,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-15,231603,0,142.857,0,1.143,2022,02
ZWE,Africa,Zimbabwe,2022-02-16,232213,610,210.429,5,1.714,2022,02
ZWE,Africa,Zimbabwe,2022-02-17,232598,385,222.571,2,1.143,2022,02

In [21]:
# df.drop(dp, axis=1, inplace=True)
dn.drop(['new_cases_smoothed','new_deaths_smoothed'], axis=1, inplace=True)
dn

,continent,location,date,total_cases,new_cases,new_deaths,year,month
iso_code,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5,5,0,2020,02
AFG,Asia,Afghanistan,2020-02-25,5,0,0,2020,02
AFG,Asia,Afghanistan,2020-02-26,5,0,0,2020,02
AFG,Asia,Afghanistan,2020-02-27,5,0,0,2020,02
AFG,Asia,Afghanistan,2020-02-28,5,0,0,2020,02
...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-02-13,231381,82,0,2022,02
ZWE,Africa,Zimbabwe,2022-02-14,231603,222,0,2022,02
ZWE,Africa,Zimbabwe,2022-02-15,231603,0,0,2022,02
ZWE,Africa,Zimbabwe,2022-02-16,232213,610,5,2022,02
ZWE,Africa,Zimbabwe,2022-02-17,232598,385,2,2022,02

In [22]:
# dn[dn['year'].str.contains(r'2022')]
dn[dn['month'].str.contains(r'01')]

,continent,location,date,total_cases,new_cases,new_deaths,year,month
iso_code,,,,,,,,
AFG,Asia,Afghanistan,2021-01-01,52513,183,12,2021,01
AFG,Asia,Afghanistan,2021-01-02,52586,73,10,2021,01
AFG,Asia,Afghanistan,2021-01-03,52709,123,10,2021,01
AFG,Asia,Afghanistan,2021-01-04,52909,200,9,2021,01
AFG,Asia,Afghanistan,2021-01-05,53011,102,7,2021,01
...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-01-27,229096,153,3,2022,01
ZWE,Africa,Zimbabwe,2022-01-28,229333,237,9,2022,01
ZWE,Africa,Zimbabwe,2022-01-29,229415,82,0,2022,01
ZWE,Africa,Zimbabwe,2022-01-30,229460,45,4,2022,01
ZWE,Africa,Zimbabwe,2022-01-31,229666,206,1,2022,01

In [23]:
dn[dn['location']=='Thailand']

,continent,location,date,total_cases,new_cases,new_deaths,year,month
iso_code,,,,,,,,
THA,Asia,Thailand,2020-01-04,0,0,0,2020,01
THA,Asia,Thailand,2020-01-05,0,0,0,2020,01
THA,Asia,Thailand,2020-01-06,0,0,0,2020,01
THA,Asia,Thailand,2020-01-07,0,0,0,2020,01
THA,Asia,Thailand,2020-01-08,0,0,0,2020,01
...,...,...,...,...,...,...,...,...
THA,Asia,Thailand,2022-02-13,2608227,14900,26,2022,02
THA,Asia,Thailand,2022-02-14,2622600,14373,27,2022,02
THA,Asia,Thailand,2022-02-15,2639062,16462,27,2022,02
THA,Asia,Thailand,2022-02-16,2656411,17349,22,2022,02
THA,Asia,Thailand,2022-02-17,2674477,18066,27,2022,02

In [24]:
cty = dn[dn['location'].str.contains(r'thai|state|kingdom$|india', case=False)]
# col = ['new_cases','location', 'year']
# dn[col].groupby(['location', 'year']).sum()
cty

,continent,location,date,total_cases,new_cases,new_deaths,year,month
iso_code,,,,,,,,
IND,Asia,India,2020-01-30,1,1,0,2020,01
IND,Asia,India,2020-01-31,1,0,0,2020,01
IND,Asia,India,2020-02-01,1,0,0,2020,02
IND,Asia,India,2020-02-02,2,1,0,2020,02
IND,Asia,India,2020-02-03,3,1,0,2020,02
...,...,...,...,...,...,...,...,...
USA,North America,United States,2022-02-13,77762374,56776,441,2022,02
USA,North America,United States,2022-02-14,77925899,163525,2777,2022,02
USA,North America,United States,2022-02-15,78036352,110453,2595,2022,02
USA,North America,United States,2022-02-16,78172840,136488,3083,2022,02
USA,North America,United States,2022-02-17,78269443,96603,3223,2022,02

In [25]:
dn.loc[dn['location'].str.contains(r'thai|state|kingdom$|india', case=False)]
# .sum(axis=1)

,continent,location,date,total_cases,new_cases,new_deaths,year,month
iso_code,,,,,,,,
IND,Asia,India,2020-01-30,1,1,0,2020,01
IND,Asia,India,2020-01-31,1,0,0,2020,01
IND,Asia,India,2020-02-01,1,0,0,2020,02
IND,Asia,India,2020-02-02,2,1,0,2020,02
IND,Asia,India,2020-02-03,3,1,0,2020,02
...,...,...,...,...,...,...,...,...
USA,North America,United States,2022-02-13,77762374,56776,441,2022,02
USA,North America,United States,2022-02-14,77925899,163525,2777,2022,02
USA,North America,United States,2022-02-15,78036352,110453,2595,2022,02
USA,North America,United States,2022-02-16,78172840,136488,3083,2022,02
USA,North America,United States,2022-02-17,78269443,96603,3223,2022,02

In [26]:
dn['quarter'] = dn['date'].dt.quarter
dn[['date', 'quarter']].sample(5)

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
pd.period_range(start='2020-01-01', end='2020-12-31', freq='M')

In [ ]:
dn.info()

In [ ]:
dn['date'] = pd.to_datetime(dn['date'])

In [ ]:
dn.info()

In [ ]:
pd.date_range(start='1/1/2020', periods=26, freq='M')