In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('vaccine_covid_1.csv', parse_dates=['date'])
# , index_col='location'
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
to_drop = []
for c in df.columns:
    if 'smoothed' in c:
        to_drop.append(c)    
    elif 'per'in c:
        to_drop.append(c)
    elif 'excess'in c:
        to_drop.append(c)
    elif 'index'in c:
        to_drop.append(c)
    elif 'unit'in c:
        to_drop.append(c)
    elif 'weekly'in c:
        to_drop.append(c)         
    elif 'rate'in c:
        to_drop.append(c)         
    elif 'total'in c:
        to_drop.append(c)
    elif 'test'in c:
        to_drop.append(c)
    elif 'vaccinat'in c:
        to_drop.append(c)

to_drop.remove('people_vaccinated')                  
df = df.drop(to_drop, axis=1)

to_drop1 = []
for i in range(10,20):
    to_drop1.append(df.columns[i])
df = df.drop(to_drop1, axis=1)
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'new_cases', 'new_deaths',
       'icu_patients', 'hosp_patients', 'people_vaccinated', 'population'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162607 entries, 0 to 162606
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   iso_code           162607 non-null  object
 1   continent          152859 non-null  object
 2   location           162607 non-null  object
 3   date               162607 non-null  datetime64[ns]
 4   new_cases          159616 non-null  float64
 5   new_deaths         142122 non-null  float64
 6   icu_patients       22847 non-null   float64
 7   hosp_patients      23588 non-null   float64
 8   people_vaccinated  41411 non-null   float64
 9   population         161548 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 12.4+ MB

In [6]:
df.rename(columns={'location':'country','new_cases':'cases_per_day', 'new_deaths' : 'deaths_per_day'}, inplace=True)
df

,iso_code,continent,country,date,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,39835428.0
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,39835428.0
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,39835428.0
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,39835428.0
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,39835428.0
...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,2022-02-13,82.0,0.0,NaN,NaN,4318075.0,15092171.0
162603,ZWE,Africa,Zimbabwe,2022-02-14,222.0,0.0,NaN,NaN,4319919.0,15092171.0
162604,ZWE,Africa,Zimbabwe,2022-02-15,0.0,0.0,NaN,NaN,4322787.0,15092171.0
162605,ZWE,Africa,Zimbabwe,2022-02-16,610.0,5.0,NaN,NaN,4327084.0,15092171.0
162606,ZWE,Africa,Zimbabwe,2022-02-17,385.0,2.0,NaN,NaN,4331082.0,15092171.0

In [7]:
df['date2'] = df['date'].dt.to_period("Q")
# df['date1'] = df['date'].str.extract(r'(202\d)(Q[1234])')

In [8]:
# df['date1'] = df['date'].astype(str)

df[['year', 'quarter']] = df['date2'].astype(str).str.extract(r'(202\d)(Q[1234])', expand=True)
df

,iso_code,continent,country,date,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,2022-02-13,82.0,0.0,NaN,NaN,4318075.0,15092171.0,2022Q1,2022,Q1
162603,ZWE,Africa,Zimbabwe,2022-02-14,222.0,0.0,NaN,NaN,4319919.0,15092171.0,2022Q1,2022,Q1
162604,ZWE,Africa,Zimbabwe,2022-02-15,0.0,0.0,NaN,NaN,4322787.0,15092171.0,2022Q1,2022,Q1
162605,ZWE,Africa,Zimbabwe,2022-02-16,610.0,5.0,NaN,NaN,4327084.0,15092171.0,2022Q1,2022,Q1
162606,ZWE,Africa,Zimbabwe,2022-02-17,385.0,2.0,NaN,NaN,4331082.0,15092171.0,2022Q1,2022,Q1

In [9]:
df = df.drop('date', axis=1)

In [10]:
df['iso_code'].unique()

array(['AFG', 'OWID_AFR', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG',
       'ARM', 'ABW', 'OWID_ASI', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD',
       'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BES',
       'BIH', 'BWA', 'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM',
       'CMR', 'CAN', 'CPV', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL',
       'COM', 'COG', 'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP',
       'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV',
       'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'OWID_EUR', 'OWID_EUN', 'FRO',
       'FLK', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU',
       'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GTM', 'GGY', 'GIN', 'GNB',
       'GUY', 'HTI', 'OWID_HIC', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN',
       'OWID_INT', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN',
       'JEY', 'JOR', 'KAZ', 'KEN', 'KIR', 'OWID_KOS', 'KWT', 'KGZ', 'LAO',
       'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'OWID_LIC',
       'OWID_LMC', 'LUX', 'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT',
       'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE',
       'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL',
       'NZL', 'NIC', 'NER', 'NGA', 'NIU', 'OWID_NAM', 'MKD', 'OWID_CYN',
       'NOR', 'OWID_OCE', 'OMN', 'PAK', 'PLW', 'PSE', 'PAN', 'PNG', 'PRY',
       'PER', 'PHL', 'PCN', 'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA',
       'SHN', 'KNA', 'LCA', 'SPM', 'VCT', 'WSM', 'SMR', 'STP', 'SAU',
       'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SLB',
       'SOM', 'ZAF', 'OWID_SAM', 'KOR', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR',
       'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO',
       'TKL', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA',
       'UKR', 'ARE', 'GBR', 'USA', 'OWID_UMC', 'URY', 'UZB', 'VUT', 'VAT',
       'VEN', 'VNM', 'WLF', 'OWID_WRL', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [11]:
df[df['iso_code'].str.contains(r'owid_...', case=False)]

,iso_code,continent,country,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter
725,OWID_AFR,NaN,Africa,0.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
726,OWID_AFR,NaN,Africa,1.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
727,OWID_AFR,NaN,Africa,0.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
728,OWID_AFR,NaN,Africa,0.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
729,OWID_AFR,NaN,Africa,0.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
160521,OWID_WRL,NaN,World,1454191.0,5069.0,NaN,NaN,4.875567e+09,7.874966e+09,2022Q1,2022,Q1
160522,OWID_WRL,NaN,World,1788438.0,10645.0,NaN,NaN,4.878797e+09,7.874966e+09,2022Q1,2022,Q1
160523,OWID_WRL,NaN,World,1765325.0,10566.0,NaN,NaN,4.881902e+09,7.874966e+09,2022Q1,2022,Q1
160524,OWID_WRL,NaN,World,2438704.0,13089.0,NaN,NaN,4.885610e+09,7.874966e+09,2022Q1,2022,Q1
160525,OWID_WRL,NaN,World,1962968.0,12508.0,NaN,NaN,4.887688e+09,7.874966e+09,2022Q1,2022,Q1

In [12]:
dt =df.drop_duplicates(subset=['iso_code'])
dt

,iso_code,continent,country,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,3.983543e+07,2020Q1,2020,Q1
725,OWID_AFR,NaN,Africa,0.0,0.0,NaN,NaN,NaN,1.373486e+09,2020Q1,2020,Q1
1461,ALB,Europe,Albania,NaN,NaN,NaN,NaN,NaN,2.872934e+06,2020Q1,2020,Q1
2185,DZA,Africa,Algeria,1.0,NaN,NaN,NaN,NaN,4.461663e+07,2020Q1,2020,Q1
2909,AND,Europe,Andorra,1.0,NaN,NaN,NaN,NaN,7.735400e+04,2020Q1,2020,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
159281,WLF,Oceania,Wallis and Futuna,1.0,NaN,NaN,NaN,NaN,1.109400e+04,2020Q4,2020,Q4
159768,OWID_WRL,NaN,World,0.0,0.0,NaN,NaN,NaN,7.874966e+09,2020Q1,2020,Q1
160526,YEM,Asia,Yemen,1.0,NaN,NaN,NaN,NaN,3.049064e+07,2020Q2,2020,Q2
161205,ZMB,Africa,Zambia,2.0,NaN,NaN,NaN,NaN,1.892066e+07,2020Q1,2020,Q1
161907,ZWE,Africa,Zimbabwe,1.0,NaN,NaN,NaN,NaN,1.509217e+07,2020Q1,2020,Q1

In [13]:
to_drop2 = df[df['continent'].isnull()].index
ds = df.drop(to_drop2, axis=0)
ds

,iso_code,continent,country,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
1,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
2,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
3,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
4,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,82.0,0.0,NaN,NaN,4318075.0,15092171.0,2022Q1,2022,Q1
162603,ZWE,Africa,Zimbabwe,222.0,0.0,NaN,NaN,4319919.0,15092171.0,2022Q1,2022,Q1
162604,ZWE,Africa,Zimbabwe,0.0,0.0,NaN,NaN,4322787.0,15092171.0,2022Q1,2022,Q1
162605,ZWE,Africa,Zimbabwe,610.0,5.0,NaN,NaN,4327084.0,15092171.0,2022Q1,2022,Q1
162606,ZWE,Africa,Zimbabwe,385.0,2.0,NaN,NaN,4331082.0,15092171.0,2022Q1,2022,Q1

In [14]:
pb = ds[ds['iso_code'].str.contains(r'owid_...', case=False)].index
pb

Int64Index([ 78896,  78897,  78898,  78899,  78900,  78901,  78902,  78903,
             78904,  78905,
            ...
            110609, 110610, 110611, 110612, 110613, 110614, 110615, 110616,
            110617, 110618],
           dtype='int64', length=1023)

In [15]:
dn = df[df['iso_code'].str.contains(r'owid_...', case=False)].index
dn

Int64Index([   725,    726,    727,    728,    729,    730,    731,    732,
               733,    734,
            ...
            160516, 160517, 160518, 160519, 160520, 160521, 160522, 160523,
            160524, 160525],
           dtype='int64', length=10771)

In [16]:
# df[df['iso_code'].str.contains(r'owid_...', case=False)].unique

In [17]:
df = df.drop(dn)
df

,iso_code,continent,country,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
1,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
2,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
3,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
4,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,82.0,0.0,NaN,NaN,4318075.0,15092171.0,2022Q1,2022,Q1
162603,ZWE,Africa,Zimbabwe,222.0,0.0,NaN,NaN,4319919.0,15092171.0,2022Q1,2022,Q1
162604,ZWE,Africa,Zimbabwe,0.0,0.0,NaN,NaN,4322787.0,15092171.0,2022Q1,2022,Q1
162605,ZWE,Africa,Zimbabwe,610.0,5.0,NaN,NaN,4327084.0,15092171.0,2022Q1,2022,Q1
162606,ZWE,Africa,Zimbabwe,385.0,2.0,NaN,NaN,4331082.0,15092171.0,2022Q1,2022,Q1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151836 entries, 0 to 162606
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   iso_code           151836 non-null  object
 1   continent          151836 non-null  object
 2   country            151836 non-null  object
 3   cases_per_day      149162 non-null  float64
 4   deaths_per_day     131690 non-null  float64
 5   icu_patients       22847 non-null   float64
 6   hosp_patients      23588 non-null   float64
 7   people_vaccinated  36224 non-null   float64
 8   population         151836 non-null  float64
 9   date2              151836 non-null  period[Q-DEC]
 10  year               151836 non-null  object
 11  quarter            151836 non-null  object
dtypes: float64(6), object(5), period[Q-DEC](1)
memory usage: 15.1+ MB

In [19]:
# dy = df[['new_cases', 'new_deaths']].fillna(0)
# dy.info()

In [20]:
# df['percentage of case / pop'] = (df['new_cases'] / df['population'])*100
# df

In [21]:
# df[df['location'] == 'Thailand']

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151836 entries, 0 to 162606
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   iso_code           151836 non-null  object
 1   continent          151836 non-null  object
 2   country            151836 non-null  object
 3   cases_per_day      149162 non-null  float64
 4   deaths_per_day     131690 non-null  float64
 5   icu_patients       22847 non-null   float64
 6   hosp_patients      23588 non-null   float64
 7   people_vaccinated  36224 non-null   float64
 8   population         151836 non-null  float64
 9   date2              151836 non-null  period[Q-DEC]
 10  year               151836 non-null  object
 11  quarter            151836 non-null  object
dtypes: float64(6), object(5), period[Q-DEC](1)
memory usage: 15.1+ MB

In [23]:
df.rename(columns={'cases_per_day':'cases_per_quarter', 'deaths_per_day':'deaths_per_quarter'}, inplace=True)

In [24]:
# df.set_index(['country','year','quarter'], inplace=True)
# df.reset_index()

In [25]:
# df.loc[:, df.columns.str.match(r'(new_...)')]

In [26]:
df['new_cases / population'] = (df['cases_per_quarter'] / df['population']) * 100
df

,iso_code,continent,country,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter,new_cases / population
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1,0.000013
1,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1,0.000000
2,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1,0.000000
3,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1,0.000000
4,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,39835428.0,2020Q1,2020,Q1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,82.0,0.0,NaN,NaN,4318075.0,15092171.0,2022Q1,2022,Q1,0.000543
162603,ZWE,Africa,Zimbabwe,222.0,0.0,NaN,NaN,4319919.0,15092171.0,2022Q1,2022,Q1,0.001471
162604,ZWE,Africa,Zimbabwe,0.0,0.0,NaN,NaN,4322787.0,15092171.0,2022Q1,2022,Q1,0.000000
162605,ZWE,Africa,Zimbabwe,610.0,5.0,NaN,NaN,4327084.0,15092171.0,2022Q1,2022,Q1,0.004042
162606,ZWE,Africa,Zimbabwe,385.0,2.0,NaN,NaN,4331082.0,15092171.0,2022Q1,2022,Q1,0.002551

In [27]:
dt = df.drop('population', axis=1)
dt

,iso_code,continent,country,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,date2,year,quarter,new_cases / population
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000013
1,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000
2,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000
3,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000
4,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,82.0,0.0,NaN,NaN,4318075.0,2022Q1,2022,Q1,0.000543
162603,ZWE,Africa,Zimbabwe,222.0,0.0,NaN,NaN,4319919.0,2022Q1,2022,Q1,0.001471
162604,ZWE,Africa,Zimbabwe,0.0,0.0,NaN,NaN,4322787.0,2022Q1,2022,Q1,0.000000
162605,ZWE,Africa,Zimbabwe,610.0,5.0,NaN,NaN,4327084.0,2022Q1,2022,Q1,0.004042
162606,ZWE,Africa,Zimbabwe,385.0,2.0,NaN,NaN,4331082.0,2022Q1,2022,Q1,0.002551

In [28]:
dy = dt.groupby(['country', 'year', 'quarter']).sum()

In [29]:
dy[['icu_patients','hosp_patients','people_vaccinated']] = dy[['icu_patients','hosp_patients','people_vaccinated']].replace(['0.0', 0.0], np.nan)
dy

                          cases_per_quarter  deaths_per_quarter  icu_patients  \
country     year quarter
Afghanistan 2020 Q1                   166.0                 4.0           NaN
                 Q2                 31279.0               735.0           NaN
                 Q3                  7909.0               723.0           NaN
                 Q4                 12976.0               727.0           NaN
            2021 Q1                  4124.0               295.0           NaN
...                                     ...                 ...           ...
Zimbabwe    2021 Q1                 23015.0              1160.0           NaN
                 Q2                 12982.0               266.0           NaN
                 Q3                 80956.0              2834.0           NaN
                 Q4                 82438.0               381.0           NaN
            2022 Q1                 19340.0               377.0           NaN

                          hosp_patients  people_vaccinated  \
country     year quarter
Afghanistan 2020 Q1                 NaN                NaN
                 Q2                 NaN                NaN
                 Q3                 NaN                NaN
                 Q4                 NaN                NaN
            2021 Q1                 NaN            62200.0
...                                 ...                ...
Zimbabwe    2021 Q1                 NaN          1428603.0
                 Q2                 NaN         41737651.0
                 Q3                 NaN        166938558.0
                 Q4                 NaN        322014876.0
            2022 Q1                 NaN        203530388.0

                          new_cases / population
country     year quarter
Afghanistan 2020 Q1                     0.000417
                 Q2                     0.078521
                 Q3                     0.019854
                 Q4                     0.032574
            2021 Q1                     0.010353
...                                          ...
Zimbabwe    2021 Q1                     0.152496
                 Q2                     0.086018
                 Q3                     0.536411
                 Q4                     0.546230
            2022 Q1                     0.128146

[1907 rows x 6 columns]

In [30]:
dy.reset_index(inplace=True)
dy

,country,year,quarter,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,new_cases / population
0,Afghanistan,2020,Q1,166.0,4.0,NaN,NaN,NaN,0.000417
1,Afghanistan,2020,Q2,31279.0,735.0,NaN,NaN,NaN,0.078521
2,Afghanistan,2020,Q3,7909.0,723.0,NaN,NaN,NaN,0.019854
3,Afghanistan,2020,Q4,12976.0,727.0,NaN,NaN,NaN,0.032574
4,Afghanistan,2021,Q1,4124.0,295.0,NaN,NaN,62200.0,0.010353
...,...,...,...,...,...,...,...,...,...
1902,Zimbabwe,2021,Q1,23015.0,1160.0,NaN,NaN,1428603.0,0.152496
1903,Zimbabwe,2021,Q2,12982.0,266.0,NaN,NaN,41737651.0,0.086018
1904,Zimbabwe,2021,Q3,80956.0,2834.0,NaN,NaN,166938558.0,0.536411
1905,Zimbabwe,2021,Q4,82438.0,381.0,NaN,NaN,322014876.0,0.546230
1906,Zimbabwe,2022,Q1,19340.0,377.0,NaN,NaN,203530388.0,0.128146

In [31]:
# dy.set_index('location', inplace=True)
# dy

In [37]:
dy.loc[(dy['country'].str.contains(r'(thai)|(united states)', case=False)) & (dy['year']=='2021') & (dy['quarter'])]
# .str.contains(r'Q[234]'))]

C:\Users\HP\AppData\Local\Temp/ipykernel_15412/1102173858.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  dy.loc[(dy['country'].str.contains(r'(thai)|(united states)', case=False)) & (dy['year']=='2021') & (dy['quarter'])]

,country,year,quarter,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,new_cases / population
1707,Thailand,2021,Q1,21979.0,33.0,NaN,NaN,3.426450e+05,0.031421
1708,Thailand,2021,Q2,230438.0,1929.0,NaN,NaN,2.086758e+08,0.329428
1709,Thailand,2021,Q3,1344174.0,14704.0,NaN,NaN,1.453151e+09,1.921598
1710,Thailand,2021,Q4,619960.0,4971.0,NaN,NaN,3.849299e+09,0.886280
1819,United States,2021,Q1,10375532.0,199703.0,1578907.0,6590965.0,4.268875e+09,3.116570
1820,United States,2021,Q2,3209599.0,52794.0,634726.0,2383091.0,1.443957e+10,0.964089
1821,United States,2021,Q3,9746246.0,95335.0,1568968.0,5829527.0,1.829636e+10,2.927547
1822,United States,2021,Q4,11265923.0,128237.0,1354338.0,5005985.0,2.098089e+10,3.384023

In [33]:
# dt.loc['India']
dt.describe()

,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,new_cases / population
count,1.491620e+05,131690.000000,22847.000000,23588.000000,3.622400e+04,149162.000000
mean,2.802787e+03,44.296583,915.019828,4129.341911,1.628542e+07,0.015941
std,1.779454e+04,195.577994,2703.068852,11790.673933,6.494139e+07,0.067227
min,-7.434700e+04,-1918.000000,0.000000,0.000000,0.000000e+00,-1.387628
25%,0.000000e+00,0.000000,28.000000,123.000000,2.893050e+05,0.000000
50%,6.000000e+01,1.000000,151.000000,657.000000,1.907592e+06,0.000971
75%,7.480000e+02,13.000000,608.000000,2613.250000,8.291812e+06,0.009640
max,1.368563e+06,4529.000000,28891.000000,154536.000000,1.266426e+09,5.142749

In [34]:
dt['test'] = dt['icu_patients'] /1000000
dt

,iso_code,continent,country,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,date2,year,quarter,new_cases / population,test
0,AFG,Asia,Afghanistan,5.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000013,NaN
1,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000,NaN
2,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000,NaN
3,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000,NaN
4,AFG,Asia,Afghanistan,0.0,NaN,NaN,NaN,NaN,2020Q1,2020,Q1,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,82.0,0.0,NaN,NaN,4318075.0,2022Q1,2022,Q1,0.000543,NaN
162603,ZWE,Africa,Zimbabwe,222.0,0.0,NaN,NaN,4319919.0,2022Q1,2022,Q1,0.001471,NaN
162604,ZWE,Africa,Zimbabwe,0.0,0.0,NaN,NaN,4322787.0,2022Q1,2022,Q1,0.000000,NaN
162605,ZWE,Africa,Zimbabwe,610.0,5.0,NaN,NaN,4327084.0,2022Q1,2022,Q1,0.004042,NaN
162606,ZWE,Africa,Zimbabwe,385.0,2.0,NaN,NaN,4331082.0,2022Q1,2022,Q1,0.002551,NaN

In [35]:
df['total_recover'] = df['cases_per_quarter'].astype(str).str.contains(r'-')
df.sample(10)

,iso_code,continent,country,cases_per_quarter,deaths_per_quarter,icu_patients,hosp_patients,people_vaccinated,population,date2,year,quarter,new_cases / population,total_recover
45185,GNQ,Africa,Equatorial Guinea,0.0,0.0,NaN,NaN,NaN,1449891.0,2021Q3,2021,Q3,0.000000,False
9288,AUS,Oceania,Australia,1800.0,13.0,279.0,1483.0,14648688.0,25788217.0,2021Q3,2021,Q3,0.006980,False
86494,LTU,Europe,Lithuania,557.0,5.0,NaN,377.0,1597856.0,2689862.0,2021Q3,2021,Q3,0.020707,False
110684,NOR,Europe,Norway,28.0,3.0,NaN,98.0,NaN,5465629.0,2020Q2,2020,Q2,0.000512,False
84240,LBR,Africa,Liberia,1.0,0.0,NaN,NaN,NaN,5180208.0,2021Q2,2021,Q2,0.000019,False
128569,SEN,Africa,Senegal,16.0,0.0,NaN,NaN,NaN,17196308.0,2020Q4,2020,Q4,0.000093,False
135330,ZAF,Africa,South Africa,1632.0,56.0,NaN,NaN,318670.0,60041996.0,2021Q2,2021,Q2,0.002718,False
124453,SPM,North America,Saint Pierre and Miquelon,0.0,NaN,NaN,NaN,NaN,5771.0,2020Q2,2020,Q2,0.000000,False
38517,CZE,Europe,Czechia,8083.0,173.0,1177.0,7153.0,116232.0,10724553.0,2021Q1,2021,Q1,0.075369,False
27646,CPV,Africa,Cape Verde,126.0,1.0,NaN,NaN,NaN,561901.0,2021Q1,2021,Q1,0.022424,False

In [36]:
df[df['cases_per_day'].astype(str).str.contains(r'-')]

KeyError: 'cases_per_day'

In [ ]:
# df['test2'] = (df['people_fully_vaccinated'] / df['population']) *100
# df

In [ ]:
df['test2'] = df['population'] / 1000000
df

In [ ]:
# df['Rank2']=df[''].rank(ascending=False, method='min').astype('int')